{% extends 'base.html' %} {% block title %} {{ postagem.name }} ({{
    postagem.release_year }}) {% endblock title %} {% block content %}
    <h2>Detalhes do Projeto {{ postagem.name }} ({{ postagem.release_year }})</h2>
    
    <section class="dados-de-projeto">
      <img src="{{ postagem.poster_url }}" alt="Poster do projeto {{ postagem.name}}" />
      <ul>
        <li>Nome: {{ postagem.name }}</li>
        <li>Ano de Atuação: {{ postagem.release_year }}</li>
        <li>
          <a href="{% url 'postagens:update' postagem.id %}">Editar</a>
        </li>
        <li>
          <a href="{% url 'postagens:delete' postagem.id %}">Apagar</a>
        </li>
      </ul>
    </section>
    
    {% endblock content %}