{% extends 'base.html' %}

{% block title %}
Listas
{% endblock title %}

{% block content %}
<h2>Listas de Categorias</h2>

<section>
    {% for category in category_list %}
    <hr>
    <article>
        <header>
            <h3>{{category.name}}</h3>
        </header>
        <div class="lista-de-cards">
            {% for postagem in category.postagens.all %}
            <div class="card">
                <a href="{% url 'postagens:individual_category' category.id %}">
                    <img src="{{ postagem.poster_url }}" alt="Poster do projeto {{ postagem.name}}">
                </a>
                <p>{{ postagem.name }} ({{ postagem.release_year }})</p>
            </div>
            {% endfor %}
        </div>
    </article>
    {% endfor %}
</section>

{% endblock content %}